body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}

.container {
  text-align: center;
  width: 600px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-height: 400px;
  transition: max-height 0.6s ease-in-out;
}

/* Центрируем заголовок наверху */
h1 {
  color: #333;
  text-align: center;
}

/* Flex-контейнер для кнопок */
.options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;

  flex-direction: column;
}

/* Стили для кнопок */
.btn {
  flex: 1;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #a4b3ca;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #72849d;
}

/* Поле для вывода текста под кнопками */
.text-output {
  width: 100%;
  height: 260px;
  margin-top: 5px;
  font-size: 1rem;
  padding: 10px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  resize: none;
  box-sizing: border-box;
  overflow-y: auto;
  transition: max-height 0.8s ease-in-out;
}
/* 133722281488 */

.main-btn{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.submit-button-span{
  display: none;
  margin-top: 7px;
}

.visible-block{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#confirmButton{
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #a4b3ca;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirmButton:hover {
  background-color: #72849d;
}

#fileStatus{
  font-size: 16px;
  font-family: monospace;
}

.text-output.shrink {
  height: 180px; /* Сжатая высота текстового поля */
}

.text-output.expand {
  height: 260px; /* Исходная высота текстового поля */
  transition: height 0.8s ease-in-out;
}

#downloadButton {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #8bc34a;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#downloadButton:hover {
  background-color: #689f38;
}